html {
  height: 100%; }
  html body {
    position: relative;
    margin: 0;
    min-height: 100%;
    padding-top: 10px;
    padding-bottom: 20px; }
    html body .container {
      background-color: #FBFBFB;
      padding: 15px;
      padding-top: 0;
      margin-bottom: 20px;
      border-radius: 5px; }
    html body .dark-blue {
      color: #2574A9; }
    html body button.no-style {
      background: none;
      border: none;
      padding: 0; }
    html body h2 {
      color: #2574A9; }
    html body .footer {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      padding: 10px;
      background: #efefef;
      text-align: center; }

header .container {
  padding: 0; }
  header .container .navbar {
    background-color: #e3f2fd;
    margin: 0; }
    header .container .navbar .logo-container {
      padding: 9px; }
      header .container .navbar .logo-container .logo {
        width: 50px; }
    header .container .navbar li.active a {
      background-color: #7BF;
      color: white; }
    header .container .navbar .submit-container a button {
      width: 100%;
      height: 100%; }

.saisieFicheFrais .form-saisie .row {
  margin: 15px 10px; }
  .saisieFicheFrais .form-saisie .row .libelle-saisie {
    text-align: right; }

.connexion .form-container {
  width: 350px;
  margin-left: auto;
  margin-right: auto; }
  .connexion .form-container .row {
    margin: 10px 0; }

.validationFicheFrais .select_mois .liste-mois {
  margin: 10px 0; }

.validationFicheFrais .table_validation {
  margin: 10px 0; }
  .validationFicheFrais .table_validation table {
    text-align: center; }
    .validationFicheFrais .table_validation table thead {
      background-color: #e3f2fd; }

.modal form {
  display: inline-block; }
