$dark-blue: #1F3A93;
$light-grey: #FBFBFB;
$dark-blue: #2574A9;

html {
  height: 100%;

  body {
    position: relative;
    margin: 0;
    min-height: 100%;
    padding-top: 10px;
    padding-bottom: 20px;

    .container {
      background-color: $light-grey;
      padding: 15px;
      padding-top: 0;
      margin-bottom: 20px;
      border-radius: 5px;
    }

    .dark-blue {
      color: $dark-blue;
    }

    button.no-style {
      background: none;
      border: none;
      padding: 0;
    }

    h2 {
      color: $dark-blue;
    }

    .footer {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      padding: 10px;;
      background: #efefef;
      text-align: center;
    }
  }
}