header {
  .container {
    padding: 0;

    .navbar {
      background-color: #e3f2fd;
      margin: 0;

      .logo-container {
        padding: 9px;

        .logo {
          width: 50px;
        }
      }

      li.active  a {
        background-color: #7BF;
        color: white;
      }

      .submit-container {
        a {
          button {
            width: 100%;
            height: 100%;
          }
        }
      }
    }
  }
}