.validationFicheFrais {
  .select_mois {
    .liste-mois {
      margin: 10px 0;
    }
  }

  .table_validation {
    margin: 10px 0;
    table {
      text-align: center;
      thead {
        background-color: #e3f2fd;
      }
    }
  }
}

.modal {
  form {
    display: inline-block;
  }
}
